In [1]:
%load_ext autoreload
%autoreload 2

In [13]:
import pandas as pd
import numpy as np
from pathlib import Path
import fitz
from fitz import Rect

from pdf_scraper.block_utils import identify_dual_column, get_block_text, sort_dual_column_blocks
from pdf_scraper.block_utils import is_empty_block, clean_blocks, print_block_table, get_block_table, rebox_blocks
from pdf_scraper.block_utils import preproc_blocks
from pdf_scraper.draw_utils  import get_pink_boundary, get_fill_df, in_the_pink
from pdf_scraper.draw_utils  import draw_rectangle_on_page, get_fill_colours
from pdf_scraper.line_utils  import get_line_df, print_line_table, get_all_lines
from pdf_scraper.page_utils  import get_page_line_df

pd.set_option("display.float_format", "{:.3f}".format)

In [14]:
level    = "AL"
year     = 2016
fname    = f"LC002ALP100EV_{year}.pdf"
examDir  = Path.cwd().parent.parent / "Exams"  / "english" / level
pdf_file = examDir / fname


doc              = fitz.open(pdf_file)

fill_colours     = get_fill_colours(doc)

page_width       = doc[1].get_text("dict")["width"]   # This is a document wide thing doesn't need to be per page.
page_height      = doc[1].get_text("dict")["height"]   # This is a document wide thing doesn't need to be per page.


page             = doc[5]
text_dict        = page.get_text("dict",sort=True)
page_drawings    = page.get_drawings()
blocks           = text_dict["blocks"]



bounding_pink    = get_pink_boundary(page_drawings, fill_colours)
clean_blocks     = preproc_blocks(blocks, bounding_pink)

pink_blocks      = [block for block in clean_blocks if in_the_pink(block["bbox"], bounding_pink) ]
pink_lines       = get_all_lines(pink_blocks)
pink_df          = get_line_df(pink_lines)

print_block_table(pink_blocks)
draw_rectangle_on_page(pdf_file, "out.pdf", 4,bounding_pink )

x0       x1       y0       y1       dx       dy       type  number  n_lines first_word
--------------------------------------------------------------------------------
181.56   435.85   40.15    57.88    254.29   17.73    txt   0       1       TEXT 3 – JO
56.70    546.64   67.61    108.92   489.94   41.31    txt   1       3       This edited
64.20    286.98   112.92   261.42   222.78   148.50   img   2       0       --
322.38   559.95   122.69   398.17   237.57   275.48   txt   3       19      We will sta
202.92   284.20   248.38   256.16   81.28    7.77     txt   4       1       Source:expl
56.70    299.86   262.97   510.85   243.16   247.88   txt   5       23      Little more
322.38   562.82   412.73   674.41   240.44   261.68   txt   6       19      After decad
56.70    302.77   524.03   799.45   246.07   275.42   txt   7       20      So today, I
322.38   562.76   688.85   798.73   240.38   109.88   txt   8       8       Through our
--------------------------------------------------------------------------------

In [15]:
big_df = get_page_line_df(page)

KeyError: 'lines'

In [5]:
type(page)

pymupdf.Page

In [39]:
print_line_table(pink_lines)

x0       x1       y0       y1       dx       dy       fonts                                beginning
------------------------------------------------------------------------------------------------------------------------
181.56   435.85   40.15    57.88    254.29   17.73    TimesNewRomanPS-BoldMT               TEXT 3 – JOURNEY INTO SPA
56.70    546.64   67.61    80.89    489.94   13.28    TimesNewRomanPS-BoldMT               This edited text is adapt
56.70    521.77   81.41    94.69    465.07   13.28    TimesNewRomanPS-BoldMT               Aeronautics and Space Adm
56.70    536.41   93.44    108.92   479.71   15.48    TimesNewRomanPS-BoldMT               extract he acknowledges t
322.38   559.81   122.69   135.97   237.43   13.28    TimesNewRomanPSMT                    We will start by increasi
322.38   559.74   136.49   149.77   237.36   13.28    TimesNewRomanPSMT                    $6 billion over the next
322.38   559.78   150.29   163.57   237.40   13.28    TimesNewRomanPSMT                    ramp up robotic explorati
322.38   559.81   164.09   177.37   237.43   13.28    TimesNewRomanPSMT                    including a probe of the
322.38   559.95   177.89   191.17   237.57   13.28    TimesNewRomanPSMT                    scouting missions to Mars
322.38   559.76   191.69   204.97   237.38   13.28    TimesNewRomanPSMT                    and an advanced telescope
322.38   559.78   205.49   218.77   237.40   13.28    TimesNewRomanPSMT                    allowing us to peer deepe
322.38   382.68   219.29   232.57   60.30    13.28    TimesNewRomanPSMT                    ever before.
322.38   559.77   246.89   260.17   237.39   13.28    TimesNewRomanPSMT                    We will increase Earth-ba
322.38   559.85   260.69   273.97   237.47   13.28    TimesNewRomanPSMT                    improve our understanding
322.38   559.73   274.49   287.77   237.35   13.28    TimesNewRomanPSMT                    our world – science that
322.38   559.81   288.29   301.57   237.43   13.28    TimesNewRomanPSMT                    benefits, helping us to p
322.38   559.76   302.09   315.37   237.38   13.28    TimesNewRomanPSMT                    for future generations.
322.38   559.77   315.89   329.17   237.39   13.28    TimesNewRomanPSMT                    life of the International
322.38   559.76   329.69   342.97   237.38   13.28    TimesNewRomanPSMT                    actually using it for its
322.38   559.74   343.49   356.77   237.36   13.28    TimesNewRomanPSMT                    conducting advanced resea
322.38   559.81   357.29   370.57   237.43   13.28    TimesNewRomanPSMT                    improve the daily lives o
322.38   559.77   371.09   384.37   237.39   13.28    TimesNewRomanPSMT                    as well as testing and im
322.38   425.02   384.89   398.17   102.64   13.28    TimesNewRomanPSMT                    capabilities in space.
202.92   284.20   248.38   256.16   81.28    7.77     TimesNewRomanPSMT                    Source:exploringnation.co
56.70    299.79   262.97   276.25   243.09   13.28    TimesNewRomanPSMT                    Little more than half a c
56.70    299.78   276.77   290.05   243.08   13.28    TimesNewRomanPSMT                    and desolate region of wh
56.70    299.72   290.57   303.85   243.02   13.28    TimesNewRomanPSMT                    Kazakhstan the Soviet Uni
56.70    299.85   304.37   317.65   243.15   13.28    TimesNewRomanPSMT                    the first artificial sate
56.70    299.77   318.17   331.45   243.07   13.28    TimesNewRomanPSMT                    Soviets, it was perceived
56.70    299.83   331.97   345.25   243.13   13.28    TimesNewRomanPSMT                    race for which we were no
56.70    299.85   345.77   359.05   243.15   13.28    TimesNewRomanPSMT                    But we caught up very qui
56.70    299.78   359.57   372.85   243.08   13.28    TimesNewRomanPSMT                    have followed, the space
56.70    299.78   373.37   386.65   243.08   13.28    TimesNewRomanPSMT                    generation of scientists
56.70    114.39   387.17   400.45   57.69    13.28    TimesNewRomanPSMT                    contributed
126.09   138.43   387.17   400.45   12.34    13.28    TimesNewRomanPSMT                    to
150.13   220.45   387.17   400.45   70.32    13.28    TimesNewRomanPSMT                    immeasurable
232.09   299.79   387.17   400.45   67.70    13.28    TimesNewRomanPSMT                    technological
56.70    296.81   400.97   414.25   240.11   13.28    TimesNewRomanPSMT                    advances that have improv
56.70    89.38    414.77   428.05   32.68    13.28    TimesNewRomanPSMT                    being,
98.98    260.50   414.77   428.05   161.52   13.28    TimesNewRomanPSMT                    from satellite navigation
270.10   299.76   414.77   428.05   29.66    13.28    TimesNewRomanPSMT                    water
56.70    299.83   428.57   441.85   243.13   13.28    TimesNewRomanPSMT                    purification, from aerosp
56.70    299.77   442.37   455.65   243.07   13.28    TimesNewRomanPSMT                    medical imaging.  On a pe
56.70    299.77   456.17   469.45   243.07   13.28    TimesNewRomanPSMT                    been part of that generat
56.70    299.86   469.97   483.25   243.16   13.28    TimesNewRomanPSMT                    space programme.  One of
56.70    299.77   483.77   497.05   243.07   13.28    TimesNewRomanPSMT                    is sitting on my grandfat
56.70    232.93   497.57   510.85   176.23   13.28    TimesNewRomanPSMT                    flag as astronauts arrive
322.38   559.76   412.73   426.01   237.38   13.28    TimesNewRomanPSMT                    After decades of neglect,
322.38   559.78   426.47   439.75   237.40   13.28    TimesNewRomanPSMT                    investment – right away –
322.38   559.70   440.27   453.55   237.32   13.28    TimesNewRomanPSMT                    breaking technologies tha
322.38   559.79   454.07   467.35   237.41   13.28    TimesNewRomanPSMT                    to reach space sooner and
322.38   559.78   467.87   481.15   237.40   13.28    TimesNewRomanPSMT                    farther and faster for le
322.38   562.82   481.67   494.95   240.44   13.28    TimesNewRomanPSMT                    work in space for longer
322.38   559.84   495.47   508.75   237.46   13.28    TimesNewRomanPSMT                    That means tackling major
322.38   559.75   509.27   522.55   237.37   13.28    TimesNewRomanPSMT                    technological challenges.
322.38   559.24   523.07   536.35   236.86   13.28    TimesNewRomanPSMT                    astronauts from radiation
322.38   562.72   536.87   550.15   240.34   13.28    TimesNewRomanPSMT                    How do we harness resourc
322.38   559.77   550.67   563.95   237.39   13.28    TimesNewRomanPSMT                    How do we supply spacecra
322.38   559.85   564.47   577.75   237.47   13.28    TimesNewRomanPSMT                    needed for these far-reac
322.38   559.77   578.27   591.55   237.39   13.28    TimesNewRomanPSMT                    are questions that we can
322.38   559.79   592.07   605.35   237.41   13.28    TimesNewRomanPSMT                    answer.  And these are th
322.38   559.79   605.87   619.15   237.41   13.28    TimesNewRomanPSMT                    answers no doubt will rea
322.38   559.75   619.67   632.95   237.37   13.28    TimesNewRomanPSMT                    here on Earth.  We’re not
322.38   559.71   633.47   646.75   237.33   13.28    TimesNewRomanPSMT                    continue on the same path
322.38   559.74   647.27   660.55   237.36   13.28    TimesNewRomanPSMT                    into the future; we want
322.38   488.02   661.13   674.41   165.64   13.28    TimesNewRomanPSMT                    transformative agenda for
56.70    299.82   524.03   537.31   243.12   13.28    TimesNewRomanPSMT                    So today, I’d like to tal
56.70    299.79   537.83   551.11   243.09   13.28    TimesNewRomanPSMT                    this story.  The challeng
56.70    299.83   551.63   564.91   243.13   13.28    TimesNewRomanPSMT                    programme are different,
56.70    299.82   565.43   578.71   243.12   13.28    TimesNewRomanPSMT                    this programme are differ
56.70    299.82   579.23   592.51   243.12   13.28    TimesNewRomanPSMT                    past.  We’re no longer ra
56.70    299.77   593.03   606.31   243.07   13.28    TimesNewRomanPSMT                    adversary.  We’re no long
56.70    299.73   606.83   620.11   243.03   13.28    TimesNewRomanPSMT                    a singular goal like reac
56.70    299.81   620.63   633.91   243.11   13.28    TimesNewRomanPSMT                    what was once a global co
56.70    299.80   634.37   647.65   243.10   13.28    TimesNewRomanPSMT                    since become a global col
56.70    299.72   648.17   661.45   243.02   13.28    TimesNewRomanPSMT                    hundred percent committed
56.70    299.76   661.97   675.25   243.06   13.28    TimesNewRomanPSMT                    NASA and its future.  Bec
56.70    299.78   675.77   689.05   243.08   13.28    TimesNewRomanPSMT                    capabilities in space wil
56.70    302.77   689.57   702.85   246.07   13.28    TimesNewRomanPSMT                    society in ways that we c
56.70    299.81   703.37   716.65   243.11   13.28    TimesNewRomanPSMT                    Because exploration will
56.70    299.75   717.17   730.45   243.05   13.28    TimesNewRomanPSMT                    wonder in a new generatio
56.70    299.81   730.97   744.25   243.11   13.28    TimesNewRomanPSMT                    and launching careers.  A
56.70    299.27   744.77   758.05   242.57   13.28    TimesNewRomanPSMT                    if we fail to press forwa
56.70    299.80   758.57   771.85   243.10   13.28    TimesNewRomanPSMT                    discovery, we are ceding
56.70    299.83   772.37   785.65   243.13   13.28    TimesNewRomanPSMT                    ceding that essential ele
56.70    109.69   786.17   799.45   52.99    13.28    TimesNewRomanPSMT                    character.
322.38   559.72   688.85   702.13   237.34   13.28    TimesNewRomanPSMT                    Through our plan, we’ll b
322.38   559.77   702.65   715.93   237.39   13.28    TimesNewRomanPSMT                    astronauts to space over
322.38   559.69   716.45   729.73   237.31   13.28    TimesNewRomanPSMT                    2025, we expect new space
322.38   559.79   730.25   743.53   237.41   13.28    TimesNewRomanPSMT                    long journeys to allow us
322.38   562.76   744.05   757.33   240.38   13.28    TimesNewRomanPSMT                    crewed missions beyond th
322.38   562.24   757.85   771.13   239.86   13.28    TimesNewRomanPSMT                    space.  We’ll start by se
322.38   556.74   771.65   784.93   234.36   13.28    TimesNewRomanPSMT                    asteroid for the first ti
322.38   544.67   785.45   798.73   222.29   13.28    TimesNewRomanPSMT                    2030s, I believe we can s
------------------------------------------------------------------------------------------------------------------------

In [40]:
pink_df.h = pink_df.h.map(lambda x: round(x,3))
pink_df.dL = pink_df.dL.map(lambda x: round(x,3))
pink_df[["text","dL","h","font_size"]].head(40)

,text,dL,h,font_size
0,TEXT 3 – JOURNEY INTO SPACE,27.462,17.734,16.020
1,This edited text is adapted from a speech deli...,13.800,13.284,12.000
2,"Aeronautics and Space Administration (NASA), K...",12.036,13.284,12.000
3,"extract he acknowledges the history, and outli...",29.244,15.476,12.000
4,We will start by increasing NASA’s budget by,13.800,13.284,12.000
5,$6 billion over the next five years. We will,13.800,13.284,12.000
6,"ramp up robotic exploration of the solar system,",13.800,13.284,12.000
7,including a probe of the Sun’s atmosphere; new,13.800,13.284,12.000
8,scouting missions to Mars and other destinations,13.800,13.284,12.000
9,"and an advanced telescope to follow Hubble,",13.800,13.284,12.000
10,allowing us to peer deeper into the universe t...,13.800,13.284,12.000
11,ever before.,27.600,13.284,12.000
12,We will increase Earth-based observation to,13.800,13.284,12.000
13,improve our understanding of our climate and,13.800,13.284,12.000
14,our world – science that will garner tangible,13.800,13.284,12.000
15,"benefits, helping us to protect our environment",13.800,13.284,12.000
16,for future generations. And we will extend the,13.800,13.284,12.000
17,"life of the International Space Station, while",13.800,13.284,12.000
18,actually using it for its intended purpose:,13.800,13.284,12.000
19,conducting advanced research that can help,13.800,13.284,12.000
20,"improve the daily lives of people here on Earth,",13.800,13.284,12.000
21,as well as testing and improving upon our,13.800,13.284,12.000
22,capabilities in space.,-136.503,13.284,12.000
23,Source:exploringnation.com,14.583,7.771,7.020
24,Little more than half a century ago in a remote,13.800,13.284,12.000
25,and desolate region of what is now called,13.800,13.284,12.000
26,"Kazakhstan the Soviet Union launched Sputnik,",13.800,13.284,12.000
27,the first artificial satellite to orbit the Ea...,13.800,13.284,12.000
28,"Soviets, it was perceived, had taken the lead ...",13.800,13.284,12.000
29,race for which we were not yet fully prepared.,13.800,13.284,12.000
30,But we caught up very quickly. In the years t...,13.800,13.284,12.000
31,"have followed, the space race inspired a",13.800,13.284,12.000
32,generation of scientists and innovators. It has,13.800,13.284,12.000
33,contributed,0.000,13.284,12.000
34,to,0.000,13.284,12.000
35,immeasurable,0.000,13.284,12.000
36,technological,13.800,13.284,12.000
37,advances that have improved our health and well-,13.800,13.284,12.000
38,"being,",0.000,13.284,12.000
39,from satellite navigation to,0.000,13.284,12.000

In [28]:
pink_df.h.mode()[0]

np.float64(13.284)

In [35]:
new_line

np.float64(1.038843721770551)

In [ ]:
print(pink_df.dL.median())
print(pink_df.dL.mode()[0])
dL_median = pink_df.dL.median()
h_median  = pink_df.h.median()
new_line = dL_median/h_median

print(dL_median/h_median)
x00, y00, x01, y01 = pink_lines[10]["bbox"]
x10, y10, x11, y11 = pink_lines[11]["bbox"]
print(y00-y10)
print(new_line*h_median)

13.8
13.8
1.038843721770551
-13.79998779296875
13.8

In [11]:
pink_df.x0.map(lambda x : round(x))

0     314
1      57
2      57
3      92
4     166
     ...
58     57
59    324
60    324
61    324
62     75
Name: x0, Length: 63, dtype: int64

In [ ]:
1. Look at the widths of all pages.
2. Create a bin range based on this, and then do the binning.
3. Then you can look at this binning altogether all at once.
4. Then you can use these bins for further processing and identification of dual columns.

In [7]:

val_counts = pink_df.x1.value_counts()
def bin_values(val_counts, bin_width=10):
    '''
    make bins around values. If two values are within bin_width of each other,
    they get both put into a bin centred on the average of them.
    '''
    # what we want is to take most present values, and then merge into them all
    # other values that are within bin_width of them up or down.
    #
    # So if we could take the first value, make a sublist of all things within bin_width from it,
    # then remove this value and all the values in the sublist from the original list
    # continue the loop over the list.

    # Maybe you could use a recursive function for that?
    x      = val_counts.index.values
    counts = val_counts.values
    for i in range(2):#range(len(x)):
        sublist = [float(x[i])]
        for j in range(i+1,len(x)):
            if abs(x[i]-x[j]) < bin_width:
                #print(x[i],x[j], (x[i]+x[j])/2)
                sublist.append(float(x[j]))
        print(sublist)
bin_values(val_counts,6)

[298.46636962890625, 298.55999755859375, 298.5264587402344, 298.46875, 298.532470703125, 298.5528869628906, 298.48797607421875, 298.56964111328125, 298.5480041503906, 298.54205322265625, 295.26727294921875]
[298.55999755859375, 298.5264587402344, 298.46875, 298.532470703125, 298.5528869628906, 298.48797607421875, 298.56964111328125, 298.5480041503906, 298.54205322265625, 295.26727294921875]

In [ ]:
from scipy.cluster.hierarchy import fclusterdata

x = pink_df.x1.value_counts()
# Cluster by proximity (within 5 units)
data = x.index.to_numpy().reshape(-1, 1)
groups = fclusterdata(data, t=5, criterion='distance')

# Build a DataFrame for easier grouping
df = pd.DataFrame({'x0': x.index, 'count': x.values, 'group': groups})

# Group by cluster and compute sum and mean label
grouped = df.groupby('group').agg(
    total_count=('count', 'sum'),
    mean_x0=('x0', 'mean')
)

# Set the mean x0 as index
result = grouped.set_index('mean_x0')['total_count'].sort_values(ascending=False)

print(result)

In [ ]:
def get_clean_bins(x:pd.Series,bin_width):
    min = x.min()
    max = x.max()

    bins = np.arange(start=min-bin_width/2, stop=max + 2*bin_width, step=bin_width)

    x_binned = pd.cut(x, bins=bins).apply(lambda i: i.mid).value_counts()

    return x_binned[x_binned !=0]

get_clean_bins(pink_df.x1,10)

In [ ]:
counts = df.x0.value_counts()
xs     = counts.index.values

xl   = xs[0]          if xs[0] < xs[1] else xs[1]
n_xl = counts.iloc[0] if xs[0] < xs[1] else counts.iloc[1]
xr = xs[0]            if xs[0] > xs[1] else xs[1]
n_xr = counts.iloc[0] if xs[0] > xs[1] else counts.iloc[1]

third   = np.nan if len(xs) <3 else xs[2]
n_third = np.nan if len(xs) <3 else counts.iloc[2]

In [ ]:
year = 2010
fname = f"LC002ALP100EV_{year}.pdf"
examDir=Path.cwd().parent.parent / "Exams"  / "english" / level
pdf_file = examDir / fname


doc              = fitz.open(pdf_file)
page2_drawings   = doc[1].get_drawings()
fill_colour      = get_fill_df(page2_drawings).fill.mode().values[0]

xs = []
for page in doc[1:7]:
    text_dict        = page.get_text("dict",sort=True)
    page_drawings    = page.get_drawings()
    blocks           = text_dict["blocks"]

    bounding_pink    = get_pink_boundary(page_drawings, fill_colour)
    clean_blocks     = preproc_blocks(blocks, bounding_pink)

    pink_blocks      = [block for block in clean_blocks if in_the_pink(block["bbox"], bounding_pink) ]
    pink_lines       = get_all_lines(pink_blocks)
    pink_df          = get_line_df(pink_lines)
    #xs.append(pink_df.x0.value_counts())
    x2 =pink_df.x0.value_counts().index.values[:2]
    xl = x2[0] if x2[0] < x2[1] else x2[1]
    xr = x2[0] if x2[0] > x2[1] else x2[1]
    xs.append({"xl":xl,"xr":xr})

col_df = pd.DataFrame(xs,index=[f'page_{i+2}' for i in range(len(xs))])
col_df.head()

In [ ]:
year = 2010
fname = f"LC002ALP100EV_{year}.pdf"
examDir=Path.cwd().parent.parent / "Exams"  / "english" / level
pdf_file = examDir / fname


doc              = fitz.open(pdf_file)
page2_drawings   = doc[1].get_drawings()
fill_colour      = get_fill_df(page2_drawings).fill.mode().values[0]

xs = []
#for page in doc[1:7]:
page=doc[2]
text_dict        = page.get_text("dict",sort=True)
page_drawings    = page.get_drawings()
blocks           = text_dict["blocks"]


fill_colour2      = get_fill_df(page_drawings).fill.mode().values[0]



bounding_pink    = get_pink_boundary(page_drawings, fill_colour)
clean_blocks     = preproc_blocks(blocks, bounding_pink)

bounding_pink

#pink_blocks      = [block for block in clean_blocks if in_the_pink(block["bbox"], bounding_pink) ]
#pink_lines       = get_all_lines(pink_blocks)
#pink_df          = get_line_df(pink_lines)
##xs.append(pink_df.x0.value_counts())
#x2 =pink_df.x0.value_counts().index.values[:2]
#xl = x2[0] if x2[0] < x2[1] else x2[1]
#xr = x2[0] if x2[0] > x2[1] else x2[1]
#xs.append({"xl":xl,"xr":xr})
#
#col_df = pd.DataFrame(xs,index=[f'page_{i+2}' for i in range(len(xs))])
#col_df.head()

In [ ]:
definitely_dual_column

- width limit
- has correct font size
- starts within a given tolerance of one of two possibile start positions.